body{
    background-image:url(Fondo.jpg);
    background-color: #cccccc;
    background-size:cover
}
h1{
    text-align: center;
    font-size: 500%;
    color: darkred;
    font-style: oblique;
}
h2{
    font-size: smaller;
    margin-right: 300px;
    text-align: right;
}

img.izquierda {
    float: left;

  }
  div.reset {
    clear: both;
  }
  
  img{
      padding-left: 125px ;
      padding-right: 20px;
      width: 150px;
      height: 150px;
      padding-bottom: 80px;
  }

  p{
    font-family: Arial, Helvetica, sans-serif;
    padding:20px;
    text-indent: 20px;
    margin-left: 40px;
    margin-right: 7cm;
    text-align: right;
    float:right;
    border-style:outset;    
}
