body{
    background-image:url(Fondo.jpg);
    background-color: #cccccc;
    background-size:cover
}
h1{
    text-align: center;
    font-size: 500%;
    color: darkred;
    font: bold;
}
h2{
    font-size: smaller;
    margin-right: 300px;
    text-align: right;
}

#img1{
    width: 250px;
    margin-left:20%;
    margin-right: 20%;
    margin-top: 30px;}
#img3{
        width: 250px;
        margin-left:20%;
        margin-right: 20%;
        margin-top: 30px;}
#img2{
            width: 250px;
            margin-left:20%;
            margin-right: 20%;
            margin-top: 30px;
}
h3{
    color: darkslateblue;
    text-align: left;
    font-size: large;
    margin-bottom: 10px;
    border: 5px dotted seagreen;
    display: inline-table;}

h4{
    color: darkslateblue;
    text-align: left;
    font-size: large;
    margin-bottom: 10px;
    border: 5px dotted seagreen;
    display: inline-table;}

h5{
    color: darkslateblue;
    text-align: left;
    font-size: large;
    margin-bottom: 10px;
    border: 5px dotted seagreen;
    display: inline-table;}